extends layout
block inhead
	if !error
		link(rel="stylesheet", href="/css/report.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js")
		script(src='/js/table_func.js')
		script.
			var	current_lecture = '#{lecture}';
			var stud = !{JSON.stringify(students)};
			var sect = !{JSON.stringify(sections)};
			
			$(document).ready(function(){
				var secTable = 'section_table';
				var studTable = 'student_table';

				addToTable(secTable, sect, ['Like', 'Difficult', 'Study']);
				addToTable(studTable, stud, ['Like', 'Difficult', 'Study']);

				addBarChart('section_chart', sect, graph_order_N_color);
				addBarChart('student_chart', stud, graph_order_N_color);
				addLineChart('section_chart_2', sect, graph_order_N_color);
				addLineChart('student_chart_2', stud, graph_order_N_color);
				
				addTableColour();
			});
		
block content
		
	if error
		h3(class="text-center") Unable to generate Lecture Summary
		h4(class="text-center", style="color:red")=error
	else
		div(class="container-fluid col-sm-10 col-sm-offset-1")
			h2 Lecture Summary
			h3 Lecture:  #{lecture}

			h4(class="underline") Section Table & Chart
			table(id="section_table", class="table table-striped table-bordered table-condensed")
			canvas(id="section_chart_2", style="display:inline")
			canvas(id="section_chart", style="display:inline")
			
			h4(class="underline") Student Table & Chart
			table(id="student_table", class="table table-striped table-bordered table-condensed")
			canvas(id="student_chart_2", style="display:inline")
			canvas(id="student_chart", style="display:inline")
